.app{
    overflow: hidden;
}



/* hero  */
.container, .container-fluid {
  margin-top: 30px;
  margin-bottom: 0px;
}
.banner{
    width: 100%;
   position: relative;
}
.banner__img{
object-fit: cover;
position: relative;
}
.banner__content {
  position: absolute;
  left: 5%;
  padding: 0 10px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}
.banner__content-subtext{
font-size: 2.6rem;
line-height: 4.2rem;
color:var(--primary-color)
}
.banner__content-heading{
    font-size: 5.6rem;
    line-height: 7.2rem;
    text-transform: uppercase;
}
.banner__content-descriptions{
font-size: 1.6rem;
line-height: 2.9rem;
max-width: 522px;
}
.banner .btn-primary{
    margin-top: 37px;
}
.banner-owl-nav{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
/* service */
.service-about__img{
  width: 100%;
  height: 400px;
  object-fit: cover;
}
.service-about{
padding: 20px ;
}
.service-about__heading{
font-size: 2.8rem;
color:var(--text-color);
text-transform: uppercase;
}
.service-about_descriptions{
  font-size: 1.6rem;
  line-height: 2.4rem;
  color:var(--text-color)
}
.service{
    padding: 60px 0;
}
.service .row{
    justify-content: center;
}
.heading-title{
    position: relative;
    font-weight: 500;
    font-size: 3.6rem;
    line-height: 3.2rem;
    text-align: center;
    padding-bottom: 25px;
    text-transform: uppercase;
}
.heading-title::after{
    content: "";
    position: absolute;
    display: flex;
    margin: auto;
    width: 15%;
    height: 5px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--primary-color);

}
.heading-content{
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2.4rem;
    text-align: center;
    margin-top: 25px;
}

.service-item{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    position: relative;
}
.service-item .date{
    margin-top: 10px;
    font-size: 1.2rem;
    line-height: 2rem;
    text-align: center;
    color:var(--primary-color);
}
.service-item__descriptions{
    font-size: 1.6rem;
    line-height: 3rem;

}
.read-more{
    width: 50%;
    left: 50%;
    transform: translateX(-50%);
}
.service-item__hover{
    width: 100%;
    height: 300px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}
.service-item__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .5s ease-in;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}
.service-item:hover .service-item__img{
    transform: scale(1.2);
    
}
.service-item__heading {
    font-size: 1.8rem;
    line-height: 2.4rem;
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
}
.service-item__price{
    display: flex;
    justify-content: center;
    align-items: center;
}
.service-item__price-new{
    color:var(--primary-color);
    font-size: 2.4rem;
    padding: 0 10px;
}
.service-item__price-old{
    color:#9d9d9d;
    text-decoration: line-through;
    font-size: 2.2rem;
    padding: 0 10px;
}
.service-item__price-sale{
    position: absolute;
    right: 10px;
    top: 10px;
    display: block;
    padding: 5px 10px ;
    color:#fff;
    font-size: 1rem;
    word-spacing:2px;
    text-transform: uppercase;
    background-color: var(--primary-color);
}
.service-btn.btn-primary{
    margin-top: 20px;
    padding-left:50px;
    padding-right:50px;

}
/* service-slide  */
.service-slide{
    padding: 30px 0;
    background-color: #fff8f6;
}
.service-slide .row{
    justify-content: center;
    align-items: center;
    
}
.service-slide__title{
    color:#000
}
.service-slide__content{
    padding:20px 80px 20px 80px
;
}
.service-slide__content-subtext{
    font-size: 2rem;
    line-height: 2.5rem;
    letter-spacing: 4px;
}
.service-slide__content-heading{
    font-size: 5rem;
line-height: 7.2rem;

letter-spacing: 3px;
text-transform: uppercase;
}
.service-slide__content-heading.text-primary{
    font-size: 3rem;
    line-height: 2.5rem;
    color:var(--primary-color);
    margin:46px 0 64px;
}
.service-slide__content-descriptions{
    font-size: 1.6rem;
    line-height: 2.2em;
    margin-bottom: 34px;
}
.service-slide__img{
    display: grid;
    gap: 0.5rem;
}
.service-slide__img-thumb{
    object-fit: cover;
}
.grid-1{
    grid-column: 1 / span 1;
  grid-row: 1;
  height: 98%;
}
.grid-2{
    grid-column: 2;
    height: 100%;
  grid-row: 1 / span 2;
}
.grid-3{ height: 98%;
    grid-column:1/span 1;
   
}
.form-contact{
    width: 700px;
    justify-content: center;
    margin: auto;
    padding: 30px;
}
.form-heading{
    font-size: 3rem;
    line-height: 4rem;
    text-align: center;
    text-transform: uppercase;
}
.form-descriptions{
    font-size: 1.6rem;
    line-height: 3rem;
    text-align: center;
    margin-bottom: 10px;
}
.form-contact .btn-primary{
width: 100%;
}


/* product single  */

 /* blog  */
 .blog-post__item{
  display: flex;
   width: 100%;
   margin-bottom: 20px;
 }
 .blog-post__item-thumb{
 width: 40%;
 height: 300px;
 
 margin-right: 10px;
 }
 .blog-post__item-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
 
 }
 .blog-post__item-content{
 margin:0 20px ;
 flex: 1;
 width: 60%;
 }
 .blog-post__item-content__date{
   margin-bottom: 10px;
 }
 .blog-post__item-content__date .day{
     color: #a9a9a9;
     font-size: 48px;
     line-height: 40px;
 
   }
   .blog-post__item-content__date .month {
     font-size: 14px;
   color: #a9a9a9;
 }
 .blog-post__item-content__title{
   font-size: 2rem;
   text-transform: inherit;
   font-weight: 500;
   line-height: 2.4rem;
   margin-bottom: 10px;
 }
 .blog-post__item-content__description{
 color:#747474;
 font-size: 1.4rem;
 line-height: 2.4rem;
 display: -webkit-box;
 -webkit-box-orient: vertical;
 -webkit-line-clamp: 3;
 text-overflow: ellipsis;
 overflow: hidden;
 }
 .blog-post__item-content__readmore{
 
 display: block;
   font-size: 1.4rem;
 line-height: 2rem;
 text-decoration: underline;
 font-style: italic;
 color: #2a292d;
 margin: 10px 0;
 
 }
 .blog-post__item-content__more{
   font-size: 1.2rem;
   font-style: italic;
   color:#747474;
 }
 .blog-post__item-content__more span{
  padding:0 4px;
  
   
 }
 /* single post  */
 
 .single-post__thumb{
   width: 100%;
   margin-bottom: 40px;
   height: 400px;
   object-fit: cover;
 }
 .single-post__wrap{
 width: 100%;
 position: relative;
 }
 .single-post__inner{
   display: flex;
   align-items: flex-start;
   border-bottom: 1px solid #ccc;
 }
 .single-post__date{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background: #ff6a28;
   color: #fff;
   font-weight: 700;
   padding: 15px 0;
   position: relative;
   min-width: 70px;
   max-height: 75px;
   margin-right: 25px;
 }
 .single-post__date::before{
   position: absolute;
   content: '';
   height: 60px;
   width: 5px;
   right: 0;
   bottom: -60px;
   background: #ff6a28;
 
 }
 .single-post__date .day{
 font-size: 2.8rem;
 line-height: 4rem;
 }
 .single-post__date .month{
   font-size: 1.4rem;
   text-transform: uppercase;
 }
 .single-post__info{
 
   flex: 1;
 }
 .single-post_header h3{
   padding: 0 0 12px;
   color: #242424;
   font-size: 28px;
   margin-bottom: 0;
   font-weight: 500;
   line-height: 26px;
 border-bottom: 1px solid #ccc;
 }
 .single-post_meta{
   border-top: 1px solid #ddd;
   border-bottom: 1px solid #ddd;
   padding: 7px 0;
   margin-bottom: 36px;
  font-size: 1.4rem;
     color: #747474;
     text-transform: uppercase;
 }
 .single-post_content{
   color: #747474;
   line-height: 2.8rem;
   margin-bottom: 10px;
   font-size: 1.4rem;
 }
 .single-post__social-sharing{
 display: flex;
 align-items: center;
 padding:5px 0 40px ;
 }
 .single-post__social-sharing__heading{
   font-size: 2rem;
   font-weight: 500;
   line-height: 2rem;
   color: #242424;
     margin-right: 50px;
 }
 .single-post__social-sharing__links{
   display: flex;
   align-items: center;
   list-style: none;
 }
 .single-post__social-sharing__links a{
   font-size: 17px;
   padding: 0 25px;
   color: #747474;
   display: block;
   line-height: 30px;
   border-left: 1px solid #ddd;
 }
 .single-post__social-sharing__links li:first-child a{
   border: 0;
 }
 
 .comments__heading{
   color: #242424;
 font-size: 20px;
 font-weight: 500;
 line-height: 24px;
 padding-top: 19px;
 margin: 0 0 22px;
 }
 .comments__text{
   color: #747474;
 font-size: 13px;
 line-height: 17px;
 margin-bottom: 10px;
 }
 .comment__label{
   display: block;
   width: 100%;
   font-size: 1.4rem;
   line-height: 2rem;
   margin: 10px 0;
 }
 .custom-textarea,.custom-input{
   width: 100%;
   border: 1px solid #ccc;
   outline: 0;
   padding: 10px;
   margin-bottom: 15px;
 }
 .button.blog_comment_btn{
 background-color: #ff6a28;
 padding: 10px 20px;
 font-size: 1.4rem;
 font-weight: 500;
 color:#fff;
 text-transform: uppercase;
 border-radius: 50px;
 cursor: pointer;
 transition: background-color .3s ease-in 0s;
 }
 .button.blog_comment_btn:hover{
   background-color: #000;
 }
 /* end blog  */
/* tab description  */
.tab-description{
  margin-top: 60px;
  border:1px solid #ccc;
  width: 100%;
  padding: 10px;
}
.tab-description .tabs{
  justify-content: flex-start;
  overflow: auto;

}
.tab-description .tab-item{
  padding: 15px 30px;
  text-transform: uppercase;
  font-size: 1.6rem;
  background: #ddd;
  color: #242424;
  font-weight: 600;
  margin-right: 10px;
}
.tab-description .tab-item.active,.tab-description .tab-item:hover{
  color:#fff;
  background-color: #ff6a28;
}
.tab-description .tab-pane{
  padding: 0 20px;
}
.product-description{
  font-size: 1.6rem;
  color:#747474;
  line-height: 2.4rem;
}
.product-description p{
  margin-bottom: 10px;
}
.product-review__heading{
  font-size: 2.2rem;
  line-height: 3.6rem;
  margin: 0 0 12px 0;
  font-weight: 400;
}
.product-reviews__summary{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;

}
.product-reviews__summary span:last-child{
  text-decoration: underline;
  cursor: pointer;
  transition: all .3s ease-in 0s;
}
.product-reviews__summary span:last-child:hover{
  color:#ff6a28
}
.product-reviews__content-form{
  display: none;
  height: 0;
  transition: all .3s ease-in 0s;
}
.product-reviews__content-form.open{
  display: block;
  height: 100%;
  
}
.contact__form{
  display: block;
}
.form-group{
  position: relative;
  width: 100%;
  margin-bottom: 10px;
}
.form-label{
  position: relative;
  display: block;
  width: 100%;
  font-size: 1.4rem;
  line-height: 2rem;
  cursor: pointer;
}
#body-comment{
  width: 100%;
  max-width: 100%;
  resize: vertical;
}
.rating-star{
  font-size: 2rem;
  cursor: pointer;
}
.contact__form-input,.form-input{
  width: 100%;
  font-size: 1.4rem;
  line-height: 2rem;
  padding: 12px 10px;
  border:1px solid #ccc;
  margin:5px 0;
  outline: none;
  width: 100%;

}
.contact__form-button{
 padding: 10px 20px;
 background-color: #ff6a28;
 text-transform: uppercase;
 font-size: 1.4rem;
 font-weight: 500;
 color:#fff;
 cursor: pointer;
 animation: background-color .5s ease;

}
.contact__form-button:hover{
  background-color: #242424;
}
/* end tab description */

/* end product single  */


.contact,.blog,.single-post{
  padding: 30px 0;

}
.contact__heading{
  font-size: 3rem;
  line-height: 3.3rem;
  font-weight: 500;
  text-transform: capitalize;
  margin-bottom: 30px;
  
  }.contact__description{
    color: #747474;
    font-size: 15px;
    line-height: 30px;
    margin-bottom: 22px;
}

.contact__address{
  color: #747474;
  font-size: 1.4rem;
  line-height: 4.2rem;
  padding: 5px 0;
  border-top: 1px solid #ccc;
}
.contact__map{
  margin: 40px 0;
}




/* single product  */
/* .product__thumb-img {
  position: relative;
}
.product__thumb-img #expandedImg {
  position: relative;
  width: 100%;
  height: 500px;
  object-fit: cover;
}
.product-item__thumb-sale {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 1.3rem;
  background-color: #ff6a28;
  color: #fff;
  padding: 5px 15px;
  border-radius: 3px;
}
.product-item {
  width: 100%;
  display: block;
  padding-bottom: 10px;
}
.product-item__thumb {
  position: relative;
}
.product__thumb .product-item__thumb-img {
  width: 100%;
  height: 120px;
  object-fit: cover;
}
.product__name {
  color: #000;
  text-transform: capitalize;
  line-height: 20px;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 15px;
}
.product-item__ratting {
  display: flex;
  list-style: none;
  align-items: center;
  margin-bottom: 10px;
}.product-item__ratting li {
  margin: 0 2px 0;
  font-size: 1.2rem;
  font-weight: bold;
  color: #ff6a28;
}
.product-item__price {
  display: inline-flex;
}.product-item__current-price {
  color: #242424;
  font-size: 2.4rem;
  margin-right: 10px;
  font-weight: 600;
}
.product-item__old-price {
  text-decoration: line-through;
  color: #999;
  font-weight: 600;
  font-size: 1.8rem;
}
.product-item__description, .spr-badge-caption {
  font-size: 1.4rem;
  line-height: 2.6rem;
  color: #242424;
  margin-top: 10px;
  font-weight: 400;
}
.btn-add-to-cart {
  border: 0;
  margin-left: 15px;
  color: #fff;
  text-transform: inherit;
  background: #242424;
  font-size: 13px;
  line-height: 50px;
  padding: 0 100px;
  height: 50px;
  border-radius: 3px;
}
.share-icon {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.share-icon__title {
  line-height: 18px;
  font-size: 14px;
  color: #242424;
  font-weight: 600;
  margin-bottom: 10px;
}
.share-icon__title,.spr-badge-caption {
  margin: 0;
}
.share-icon__list {
  display: flex;
  align-items: center;
  list-style: none;
}
.share-icon__item a {
  font-size: 2rem;
  padding: 5px;
}
.share-icon__item .bi-facebook {
  color: #3b5998;
}
.share-icon__item .bi-twitter {
  color: #55acee;
}
.share-icon__item .bi-google {
  color: #dd4b39;
}
.share-icon__item .bi-pinterest {
  color: #c8232c;
} */
/* end product single  */


/* footer  */
.footer{
    border-top: 1px solid #ccc ;
    padding:50px 0;
    }
    .footer-heading{
      font-size: 1.8rem;
      line-height: 2.2rem;
      font-weight: 600;
      color:#242424;
      margin-bottom: 1.6rem;
      text-transform: capitalize;
    }
    .footer-list{
      margin-left: 5px;
      list-style: none;
    }
    .footer-list__item-link{
    display: block;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 30px;
    color: #747474;
    transition: color 1s ease 0s;
    }
    .footer-list__item-link:hover{
    color:#ff6a28
    }
    .footer-text{
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 30px;
    color: #747474;
    }
    .footer-list.list-icon{
      display: inline-flex;
    }
    .footer-list-icon{
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 10px;
      width: 40px;
      height: 40px;
      border: 1px solid #e1e1e1;
      border-radius: 50%;
    }
    .footer-list-icon i:hover{
      color:#fff;
      background-color: #000;
    }
    .footer-list-icon i{ 
      display: block;
      width: 40px;
      height: 40px;
      font-size: 2rem;
      line-height: 4rem;
      color:#747474;
      text-align: center;
      border-radius: 50%;
      transition: all .3s ease-in 0s;
    }
    
    .footer-form__input{
      width: 100%;
      border:1px solid #cccc;
    padding: 15px 15px ;
    margin-bottom: 10px;
    }
    .footer-form__button{
      width: 100%;
      padding: 15px 15px ;
      color:#fff;
      background-color: #000;
      font-size: 1.2rem;
      font-weight: 500;
      text-transform: uppercase;
      border-radius: 3px;
      transition: background-color 0.3s ease-in 0s;
      cursor: pointer;
    }
    .footer-form__button:hover{
      background-color: #ff6a28;
    }