/* Tree thư mục */
.tree{
    padding: 10px;
}

.tree p{
    font-size: 1.6rem;
}

/* Blog  */
.blog-post__item {
    display: flex;
    width: 100%;
    height: 300px;
    margin-bottom: 20px;
}

.blog-post__item-thumb {
    width: 40%;
    height: 300px;
    margin-right: 10px;
}

.blog-post__item-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.blog-post__item-content {
    margin: 0 20px;
    flex: 1;
    width: 60%;
}

.blog-post__item-content__title {
    font-size: 3rem;
    text-transform: inherit;
    font-weight: bold;
    line-height: 2.8rem;
    margin-bottom: 10px;
}

.blog-post__item-content__description {
    color: #747474;
    font-size: 1.6rem;
    line-height: 2.4rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    text-overflow: ellipsis;
    overflow: hidden;
}

/* Bottom chuyển trang */
.shop-pagination {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

.shop-pagination__list {
    display: flex;
    align-items: center;
    align-items: center;
}

.shop-pagination__list {
    list-style: none;
}

.shop-pagination__list li {
    padding: 0 3px;
}

.shop-pagination__list a {
    padding: 5px 10px;
    font-size: 1.4rem;
    line-height: 2rem;
    color: #747474;
    background-color: #f1f1f1;
    border-radius: 3px;
}

.shop-pagination__list a:hover,
.shop-pagination__list li.current a {
    background-color: #ff6a28;
    color: #fff
}

.shop-pagination__list .disabled a {
    user-select: none;
    cursor: not-allowed;
    pointer-events: none;
}